@font-face {
	font-family: overwatch;
	src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);
}

@font-face {
	font-family: overwatch-italic;
	src: url(https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff);
}

html {
	cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
	user-select: none;
	font-family: overwatch;
}
