body {
	margin: 0px;
	overflow: hidden;
}

#navBar {
	float: right;
	width: 210px;
    height: 100%;
    padding-left: 25px;
    background-color: #405275;
    position: relative;
    z-index: 1000;
    opacity: 0.93;
}

form, select {
    color: #e3f2ff;
    text-shadow: 0 0 2px #336cec;
}

select {
	background-color: #218ffe;
	width: 70%;
	margin-bottom: 10px;
	font-family: overwatch;
}

#soldierAbilities {
	display: none;
}

svg:first-child {
	display: none;
}

#navBarCloseButton {
	color: white;
	position: fixed;
	top: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #218ffe;
    right: 217px;
}

#navBarCloseButton:hover, #navBarShowButton:hover {
	background-color: #f99e1a;
}

#navBarShowButton {
	display: none;
	color: white;
	position: fixed;
	top: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 8px;
    padding-left: 5px;
    background-color: #218ffe;
    right: 0px;
}

svg {
	position: absolute;
}
