* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
.view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-height: calc(100vw * 9 / 16);
    max-width: calc(100vh * 16 / 9);
}
#map {
    margin: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}
.fill {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
#crop_a, #crop_b {
    position: absolute;
    height: 100%;
    overflow: hidden;
}
#crop_a {
    right: 50%;
    left: 0;
}
#crop_b {
    right: 0;
    left: 50%;
}
#crop_b .view {
    position: absolute;
    right: 0;
}
h1 {
    position: absolute;
    top: 0;

    margin: 0; /* because this margin would move the parrent element */
    padding: 20px;
}
#crop_b h1 {
    right: 0;
}
.heatmap-container {
    width: 1280px;
    height: 720px;
}
.heatmap-canvas {
    width: 100%;
    height: 100%;
}
#splitter {
    position: absolute;
    left: 50%;

    background-color: #000;
    width: 1%;
    height: 100%;
    margin-left: -0.5%;
}
